name: test

on: [push, pull_request]

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        include:
          - python: "3.10"
            tox_env: "py310"
          - python: "3.11"
            tox_env: "py311"
          - python: "3.12"
            tox_env: "py312"
          - python: "3.13"
            tox_env: "py313"
          - python: "3.14"
            tox_env: "py314"

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python }}
    - name: Install tox
      run: |
        python -m pip install --upgrade pip
        pip install tox
    - name: Test
      run: |
        tox -e ${{ matrix.tox_env }}

  check-package:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build and Check Package
      uses: hynek/build-and-inspect-python-package@v2
